
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    opacity: 0.9;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Button styles */
  button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  
  
  .reject1{
    border-radius: 25px;
    width: 100px;
    box-shadow: 0 0 10px white;
    background-color: rgb(172, 38, 38);
    color: white;
    margin-left: 7px;
  }

  .accept1 {
    border-radius: 25px;
    width: 100px;
    box-shadow: 0 0 10px white;
    background-color: rgb(17, 111, 6);
    color: white;
    margin-left: 7px;
  }

  

  /* Link styles */
  a {
    text-decoration: none;
    color: #2196F3;
  }
  
  a:hover {
    text-decoration: underline;
    color: #0D47A1;
  }
  